$class-prefix:                                        'pizza__'; // префикс `own style`


$name-form-control:                                   $class-prefix + 'form-control';


$name-pagination:                                     $class-prefix + 'pagination';
$name-pagination__page:                               $name-pagination + '__page';
$name-pagination__form:                               $name-pagination + '__form';
$name-pagination__form__btn:                          $name-pagination__form + '__btn';


$window-sm:                                           576px;
$window-md:                                           768px;
$window-lg:                                           992px;
$window-xl:                                           1200px;
$window-xxl:                                          1400px;