@import "../config";

$border-color: #c3c3c3;
$columns: 6;

.#{$name-cart-product} {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);

  &__item {
    // первые 5 столбцов (заголовки)
    &:nth-child(-n + 6) { // ?
      font-weight: bold;
    }
    &:nth-child(6n + 4) { // ?
      font-weight: bold;
    }

    padding: 0.6rem 8px 0.6rem 8px;

    border-top: 1px solid $border-color;
    border-left: 1px solid $border-color;
    &:nth-child(-n + 6) {
      border-top: 1px solid $border-color;
    }
    &:first-child,
    &:nth-child(6n + 1){
      border-left: none;
    }
  }
}